@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

img {
  max-width: 100%;
}

body {
  background: linear-gradient(#af67e9, #6565e7);
  font-family: "Kumbh Sans", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.faq {
  width: 70%; /* se for uma tela menor que 980px vai se adaptar a 70% */
  max-width: 960px; /* quando chegar em 980px para de aumentar */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
  background-color: #fff;

  display: flex;
  align-items: center;
  border-radius: 30px;
}

.faq .ilustracao {
  position: relative;
  left: -120px;
  width: 50%;
  margin: 50px 0;
}

.faq .conteudo {
  width: 40%;
  padding: 30px 0;
}

.faq .conteudo h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.faq .items {
  overflow-y: auto;
  max-height: 400px;
  padding-right: 10px;
}

.faq .items .item {
  cursor: pointer;
  background-image: url(src/imagens/icone-seta-pra-baixo.png);
  background-repeat: no-repeat;
  background-position: top 8px right 0;
  background-size: 12px;

  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

.faq .items .item:last-child {
  border-bottom: none;
}

.item .pergunta {
  padding-bottom: 15px;
  transition: 0.2s ease;
}

.item .pergunta:hover {
  color: #f47c57;
}

.item .pergunta {
  font-size: 18px;
  width: 90%;
}

.resposta {
  display: none;
  padding: 0 0 15px;
}

.ativo h2 {
  font-weight: 700;
}

.ativo .resposta {
  display: block;
}

.faq .items .item.ativo {
  background-image: url(src/imagens/icone-seta-pra-cima.png);
}

@media (max-width: 1280px) {
  .faq {
    flex-direction: column;
    max-width: 80%;
    border-radius: 20px;
  }

  .faq .conteudo {
    width: 100%;
  }

  .faq .conteudo h1 {
    font-size: 24px;
    text-align: center;
  }

  .faq .items {
    width: 80%;
    margin: auto;
  }

  .faq .ilustracao {
    left: 0;
    margin: 30px 0;
  }
}

@media (max-width: 425px) {
  main {
    padding: 15% 0;
    height: 100%;
  }

  .faq .items {
    overflow-y: hidden;
    max-height: 100%;
  }  
}
