@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 70%; /* se for uma tela menor que 980px vai se adaptar a 70% */
  max-width: 960px; /* quando chegar em 980px para de aumentar */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 50px -12px;
  background-color: #fff;

  display: flex;
  align-items: center;
  border-radius: 30px;
}

.container .imagem-destaque {
  position: relative;
  left: -120px;
  width: 50%;
  margin: 50px 0;
}

.container .container-faq {
  flex-basis: 40%;
}

.container .items-faq {
  cursor: pointer;
}

.container .items-faq h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.item-faq .pergunta {
  display: flex;
  justify-content: space-between;
  align-items: start;
  transition: 0.2s ease;
}

.item-faq .pergunta:hover {
  color: hsl(14, 88%, 65%);
}

.item-faq .pergunta h2 {
  font-size: 18px;
  flex-basis: 90%;
}

.item-faq .seta img {
  width: 15px;
}

hr.linha {
  border-top: 1px solid #000;
  opacity: 0.2;
  margin: 20px 0;
}

.resposta {
  display: none;
}

.ativo h2 {
  font-weight: 700;
}

.ativo .resposta {
  display: block;
  padding-top: 20px;
}

.ativo .seta {
  transform: rotate(180deg)
}

@media(max-width: 1280px) {
  .container {
    flex-direction: column;
    max-width: 375px;
  }

  .container h1 {
    text-align: center;
  }

  .container .items-faq { 
    width: 80%;
    margin: auto;
  }

  .container .imagem-destaque {
    left: 0;
    margin: 30px 0;
  }
}